CT_EXTRA_CFLAGS_FOR_BUILD+=" -ffile-prefix-map=${CT_TOP_DIR}=/sources"
CT_EXTRA_CXXFLAGS_FOR_BUILD+=" -ffile-prefix-map=${CT_TOP_DIR}=/sources"
CT_EXTRA_CFLAGS_FOR_HOST+=" -ffile-prefix-map=${CT_TOP_DIR}=/sources"
CT_TARGET_CFLAGS+=" -ffile-prefix-map=${CT_TOP_DIR}=/sources"
CT_CC_GCC_ENABLE_CXX_FLAGS+=" -fvisibility=hidden -fvisibility-inlines-hidden"
