CT_CONFIG_VERSION="4"
CT_LOG_PROGRESS_BAR=n
CT_OBSOLETE=y
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/tarballs"
CT_PREFIX_DIR="${CT_TOP_DIR}/toolchain"
CT_ARCH_X86=y
CT_ARCH_64=y
CT_KERNEL_LINUX=y
CT_LINUX_V_3_10=y
CT_BINUTILS_V_2_32=y
CT_GLIBC_V_2_17=y
CT_CC_LANG_CXX=y
CT_GCC_VERSION="14.2.0"
CT_GETTEXT_V_0_19_8_1=y
CT_GMP_V_6_1=y
CT_ISL_V_0_20=y
CT_LIBICONV_V_1_15=y
CT_NCURSES_V_6_1=y
CT_ZLIB_V_1_2_13=y
CT_ZSTD_V_1_5_5=y
